# ==============================================================================
# Headscale Linux Client Environment Configuration
# ==============================================================================

# Headscale Control Server URL
HEADSCALE_URL="https://headscale.jeisson.top"

# Headscale Pre-Auth Key (Master / Reusable key)
HEADSCALE_AUTH_KEY="ccf3d9a6b227d5f4ae3a9dfdc0eab8ad701096ba21e8117b"

# Hostname to register for this machine
CLIENT_HOSTNAME="jeisson-laptop"

# Exit Node IP / Hostname for Full Tunneling (VPS Server)
EXIT_NODE="100.64.0.4"

# Local Web Dashboard Port (Uncommon developer port)
WEB_PORT="29485"
