# If you can't use the network_mode service:core, you can pass the environment variables ZITADEL_API_URL=http://core:8080 and CUSTOM_REQUEST_HEADERS=Host:localhost instead.
ZITADEL_API_URL=http://localhost:8080
NEXT_PUBLIC_BASE_PATH=/ui/v2/login
ZITADEL_SERVICE_USER_TOKEN_FILE=/current-dir/login-client.pat
